<h1>Edit <%= @cocktail.name %></h1>

<%= simple_form_for(@cocktail, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :picture, as: :file, label: "Add a picture of your cocktail" %>

  <%= f.button :submit %>
<% end %>
